@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Geist:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Geist", sans-serif;
    font-size: 1rem;
}

.latin {
    font-family: "Bricolage Grotesque", sans-serif;
}
